<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>The Se7enth Man</title>

    <!-- CSS  -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="client/public/assets/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="client/public/assets/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>
    <nav class="white" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="#" class="brand-logo">
                <h5>User name goes here</h5>
            </a>
            <ul class="right hide-on-med-and-down">
                <!-- nav controls -->
                <li><a href="#leaders">League Leaders</a></li>
                <li><a href="#Trending">Trending Picks</a></li>
                <li><a href="#sleepers">Sleeper Picks</a></li>
                <li><a href="#Resources">Resources</a></li>
                <li><a href="#signOut">Sign out</a></li>
                <!-- <li><a href="http://facebook.com"><img src="images/navlinks/icons8-facebook-48.png"></a></li>
        <li><a href="http://linkedin.com"><img src="images/navlinks/icons8-linkedin-48.png"></a></li>
        <li><a href="http://twitter.com"><img src="images/navlinks/icons8-twitter-48.png"></a></li> -->
            </ul>
            <!-- mobile nav control -->
            <ul id="nav-mobile" class="sidenav">
                <li><a href="#leaders">League Leaders</a></li>
                <li><a href="#Trending">Trending Picks</a></li>
                <li><a href="#sleepers">Sleeper Picks</a></li>
                <li><a href="#Resources">Resources</a></li>
                <li><a href="#signOut">Sign out</a></li>
                <li>
                    <a href="http://facebook.com"><img src="images/navlinks/icons8-facebook-48.png"></a>
                    <a href="http://linkedin.com"><img src="images/navlinks/icons8-linkedin-48.png"></a>
                    <a href="http://twitter.com"><img src="images/navlinks/icons8-twitter-48.png"></a>
                </li>
            </ul>
            <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
    </nav>

    <div id="index-banner" class="parallax-container">
        <div class="section no-pad-bot">
            <div class="container">
                <div class="row center">
                    <!-- <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light teal lighten-1"></a> -->
                </div>
            </div>
        </div>
        <div class="parallax"><img src="images/backgroundImages/bird.jpg" alt="Unsplashed background img 1"></div>
    </div>

    <!-- leaders -->
    <div class="container" id="Trending">
        <div class="section">

            <div class="row">
                <div class="col s12 center">
                    <a id="leagueLeadersClick" class="btn-large waves-effect waves-light teal lighten-1">Leaders</a>
                    <a id="leagueSleeperClick" class="btn-large waves-effect waves-light teal lighten-1">Sleepers</a>
                    <a id="leagueTrendingClick" class="btn-large waves-effect waves-light teal lighten-1">Trending</a>
                    <div id="leagueLeadersDiv"></div>
                    <div id="leagueSleeperDiv"></div>
                    <div id="leagueTrendingDiv"></div>
                </div>
            </div>
        </div>
    </div>




    <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot"></div>
        <div class="parallax"><img src="images/backgroundImages/basketball1.jpg" alt="Unsplashed background img 3"></div>
    </div>




    <!-- Resources -->
    <div class="container" id="Resources">
        <div class="section">

            <div class="row">
                <div class="col s12 center">
                    <h3><i class="mdi-content-send brown-text"></i></h3>
                    <h4>Resources</h4>
                    <div class="col s12 m4 center"></br><img src="images/Resources/fantasydata.png" /></br></br></br><img
                            src="images/Resources/nba-logo.png" /></div>
                    <div class="col s12 m4 center"><img src="images/Resources/FanDuel.png" /></br></br><img src="images/Resources/materialize.png"></div>
                    <div class="col s12 m4 center"><img src="images/Resources/htmllogo.png" /></br></br><img src="images/Resources/javascript_logo.png" /></div>
                </div>
            </div>

        </div>
    </div>
    <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot"></div>
        <div class="parallax"><img src="images/backgroundImages/basketball3.jpg" alt="Unsplashed background img 3"></div>
    </div>



    <footer class="page-footer teal">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Company Bio</h5>
                    <p class="grey-text text-lighten-4">We at The Se7enth Man are a group web developers just finishing
                        a coding bootcamp at the University of Minnesota. Our team of talented web developers consist
                        of Jered, Mike Smith, Jeremy Guyton, Dan Casazza, and Logan Keyes. We hope you enjoy your time
                        at The Se7enth Man.</p>

                </div>
                <div class="col l3 s12">

                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Connect</h5>
                    <ul>
                        <li><a class="white-text" href="#!">Sign out</a></li>
                        <li><a class="white-text" href="#!">Contact us</a></li>
                        <li><a class="white-text" href="#!">Github</a></li>
                        </br>
                        <li><a href="#signOut"><img src="images/navlinks/icons8-facebook-48.png"><img src="images/navlinks/icons8-linkedin-48.png"><img
                                    src="images/navlinks/icons8-twitter-48.png"></a></li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
            </div>
        </div>
    </footer>

    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="js/materialize.js"></script>
    <script src="js/init.js"></script>
    <!-- <script src="js/tables.js"></script> -->
    <script src="routes/routes.js"></script>
    <script src="js/results.js"></script>
</body>

</html>